body {
    background-color:cadetblue;
}
.form1 {
    background-color: #5f9ea0;
}
.form2 {
    background-color: #7da5a7;
}
.form3 {
    background-color: #4a6061;
}
.form4 {
    background-color: #1e6063;
}
.form5 {
    background-color: #3cc1c7;
}
.form6 {
    background-color: #2b3333;
}
.table {
    display: table;
    margin: 30px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
}
